@font-face{
    font-family: "glacial";
    src: url(./Fontes/GlacialIndifference-Regular.otf);
    font-style: normal;
}

*{
    font-family: "glacial";
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header{
    width: 100vw;
    height:60px;
    background-color: black;
    color: white;
    font-size: 30px;
    text-align: left;
    display: flex;
}

.containergeral{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 3%;
    max-width: 80vw;
    
}


.container1{
    margin-top: 40px;
    border: none;
    width: 470px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    text-align: center;
}

.container1 h1{
    font-size: 400%;
}

.container1 img{

    max-width: 200px;

}

.container2{
    margin-top: 40px;
    border: none;
    width: 400px;
    height: 350px;
    font-size: 1.5rem;
}

.botaoLista{
    display: flex;
    justify-content: center;
    margin-top: 30%;
    color: white;
    font-size: 50px;
}

.botaoLista button{
    font-size: 50%;
}

.botaoLista button{
    border-radius: 25px;
    padding: 10px;
}


